@font-face {
    font-family: "JetBrains Mono";
    src: url(./fonts/JetBrainsMono-VariableFont_wght.ttf) format("truetype");
    font-weight: 400 700;
}

:root {
    --primary-clr: #071013;
    --secondary-clr: #313131;
    --tertiary-clr: #f69906;
    --white-clr: #fefefe;
    --body-bg: #7f96aa;
}

@layer reset {
    *,
    ::before,
    ::after {
        box-sizing: border-box;
    }

    body {
        background-color: var(--body-bg);
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@layer calculator {
    #calculator {
        display: grid;
        grid-template-rows: 1fr 3fr;
        background-color: var(--primary-clr);
        color: var(--white-clr);
        width: 350px;
        height: 600px;
        padding: 1rem;
        border-radius: 1rem;
        font-family: "JetBrains Mono";
        user-select: none;
    }

    .screen {
        display: flex;
        flex-direction: column;
    }

    .main-display,
    .secondary-display {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        flex: 1 1 auto;
        /*height: 50px;
        width: 100%;*/
        padding-inline: 1rem;
    }

    .main-display {
        font-size: 1.5rem;
        padding-bottom: 2rem;
    }

    .keyboard {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1.25rem;
    }

    .key {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--secondary-clr);
        text-align: center;
        border-radius: 7px;
    }
    .key.operator {
        background-color: var(--tertiary-clr);
    }

    .span-two-columns {
        grid-column: 1 / 3;
    }

    .span-two-rows {
        grid-column: 4 / 4;
        grid-row: 6 / 4;
    }
}
